body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-size: cover;
    background-position: center;
    background: #f8eff8;
}

h1, h2 {
    text-align: center;
}

.input-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.input-section label {
    font-weight: bold;
    margin-right: 10px;
}

.input-section input[type="number"],
.input-section input[type="date"] {
    padding: 5px;
    margin-right: 10px;
}

.input-section button {
    padding: 5px 10px;
    background-color: #eb18cb;
    color: rgb(247, 235, 235);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.expenses-list {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 3ch solid #116adf;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #e3f763;
    color: rgb(43, 13, 13);
}

tfoot td {
    font-weight: bold;
}

.delete-btn {
    padding: 5px 10px;
    background-color: #0b94d8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
